/**
Esto es un comentario
*/


*{
    color: aquamarine;
}

p {
    color:red;
    width: 300px; 
}

#abc {
    color: brown;
}

h1 {

    font-family: 'Prosto One', cursive; /**fuente */

    border: 5px solid blueviolet; /**borde, ancho y color*/
    font-weight: bold;            /**ancho letra*/
    color: grey;            /**letra color*/

    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 25px;

    padding: 10px 20px 15px 25px;
    
}

body {
    background-color:  lavender; /**fondo*/
}



section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

