
*{
  font-family: 'Averia Serif Libre';
 
}

.circular--square {
    border-radius: 50%;
  }



 #grid {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 1fr;
  

  }
  
  #areaA {
    background-color:#ffb6c1;
    color: rgb(52, 53, 53);
    padding: 20px;
  }
  
  #areaB {
    background-color:plum;
    color: rgb(52, 53, 53);
    padding: 20px;
   
   
  
  } 

  #footer {
    background-color:#a0cce8;
    color: rgb(52, 53, 53);
    font-size:xx-large;
    font-weight: bold;
    padding: 20px;
    text-align: center;
 


  }
  

 

  p {
    font-style: italic;
  }



#idioma {
  text-align: right;
  margin-right: 25%;
}
  

#datos {
  font-size:large;
  font-weight: lighter;
  font-family: 'Averia Serif Libre';

}



#table{
 text-align: center;
 margin-left: 20%;
}


#soft{
  text-align: right;
margin-right: 8%;
  }

#exp{
  margin-left: 5%;
}

h1, h3, #footer{

  font-family: 'Averia Serif Libre';
}

table.center {
  margin-left: auto; 
  margin-right: auto;
    }


#RedesS{ 
 text-align: left;
 margin-left: 30%;
}  

.fa-linkedin {
  color: #0072b1;
}

.fa-telegram {
  color: #0088cc;
}

.fa-youtube {
 color: #c4302b;
}

.fa-pinterest {
  color: #c8232c;
}

.fa-goodreads-g {
  color: #553b08;
}

.fa-twitch {
  color: #6441a5;
}



.fa-palette {
  font-size: 50px;
  
}

.fa-bezier-curve {
  font-size: 50px;
}

.fa-camera-retro {
  font-size: 50px;
}

.fa-film {
  font-size: 50px;
}

.fa-book{
  font-size: 50px;
}

.fa-square-js {
  font-size: 50px;
}




.center {
align-items: center;
}

 #conjunto1, #conjunto5 {
  padding-top: 20px;
}

#conjunto2, #conjunto3, #conjunto4, #conjunto6, #conjunto7, #conjunto8 {
  padding-top: 5%;
}

#titulo1, #titulo2, #titulo3, #titulo4, #titulo5, #titulo6, #titulo7, #titulo8{
  font-size:xx-large;
    font-weight: bold;
}


#abc {
  padding-top: 5px;
  padding-bottom: 10px;
}

#conjuntos5 {
  align-items: center;
}

#bordeRedondeado {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  height: 100px;  
}