*{
    background-color:#ffb6c1;
    color: rgb(52, 53, 53);
    font-family: 'Averia Serif Libre';
    margin-top: 20px;
}


  .circular--square {
      border-radius: 50%;
      border: 5px solid rgba(216, 112, 147, 0.275);
      
    }