body{
    background-color: blueviolet;
    color: black;
}


#demo {
    color:burlywood;
}

#boton {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    border: transparent;
}